3hr_after10pm_before430am.png
3hr_nightime_nonoise.png
3hr_wNoise.png
3hrs_dist_gt_avg_dist_lt_std.png
250_as_zero.png
decisiontree_wNoise.png
decisiontree.png
generalized_line.png
interpolation.png
WWS1, 2023.xlsx:Zone.Identifier
eda_well.ipynb
WWS1, 2023.xlsx

